.states
*.db
.web
__pycache__/
assets/external/
*.py[cod]
.ruff_cache
.venv
/.idea
.DS_Store
.env
uv.lock
.python-version

# latex stuff
*.aux
*.out
*.log
*.run

# datasets
*.csv
*.json
*.xlsx
*.zip

# quatro config files
presentation_files/