.states
*.db
.web
__pycache__/
assets/external/
*.py[cod]
.ruff_cache
.venv
/.idea
.DS_Store
.env
uv.lock

# latex stuff
*.aux
*.out
*.log
*.run
*.bcf
*.run.xml

# datasets
data_secretariado.csv
*.json
*.xlsx
*.zip

# quatro config files
presentation_files/
presentation.quarto_*


# Jupyter Notebook checkpoints
.ipynb_checkpoints/
iframe_figures

Tarea 2/dataset/tot_reg_desap_modificado.csv
Tarea 2/dataset/tot_reg_desap.csv
